<footer class="bs-docs-footer" role="contentinfo">
<div class="container">
       <p class="pull-right"><a href="#">Back to top</a></p>
       <br/>
 <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Studio Sapataria</a></p>

<form class="navbar-form navbar-right">
        <div class="mini-icons">
          <a href="https://www.facebook.com/" target="_blank"><%= image_tag "facebook.png"%><span class="hide"></span></i></a>
        <a href="http://www.twitter.com/" target="_blank""><%= image_tag 'twitter.png' %><span class="hide"></span></i></a>
        <a href="http://www.instagram.com/" target="_blank""><%= image_tag "instagram.png"%><span class="hide"></span></i></a>
          </div>
        </form>
        <br>


<p class="text-center">
<h3>Atendimento:</h3>
<h6>Whatsapp(11)</h6> 
<h6>Telefone (11)</h6>
<h6>E-mail: studiosapataria@studiosapataria.com.br</h6>
<h6>Atendimento: de Segunda a Sexta-feira das 08:00 às 18:00</h6>
</p>
      <br>

<div class="rodape">
Copyright © 2014 - Studio Sapataria
</div>

</div>
</footer>