<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Nome:</strong>
    <%= @contato.nome %>
  </p>

  <p>
    <strong>Assunto:</strong>
    <%= @contato.assunto %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @contato.email %>
  </p>
  <a class="btn btn-primary" href="/store/index" role="button">Voltar</a>
</div>


