@import 'bootstrap/scss/bootstrap';

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
   
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

/* rtl:end:remove */

.mb-2 {
    padding-right: 50px;
}

input[type="submit"] {
    background-color: #4054B2;
    border-radius: 0.354em;
    border: solid thin #4054B2;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
}

input[type="submit"]:hover {
    background-color: #6EC1E4;
}


.notice,
#notice {
    background: white;
    border-radius: 0.5em;
    border: solid 0.177em #0d6efd;
    color: #0d6efd;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 1em 1.414em;
    text-align: center;
}

.carrinho {
    margin-bottom: 5rem;
}

 #cart {
     article {
         h2 {
             margin-top: 0;
         }

         background: white;
         border-radius: 0.5em;
         margin: 1em;
         padding: 1.414em;

         @media (min-width: 30em) {
             margin: 0; // desktop doesn't need this margin
         }
     }
 }

  .carrinho {
      text-align: center;
  }

  //
  .depot_form {
      padding: 0 1em;

      h1 {
          font-size: 1.99em;
          line-height: 1.41em;
          margin-bottom: 0.5em;
          padding: 0;
      }

      .field,
      .actions {
          margin-bottom: 0.5em;
          padding: 0;
      }

      .actions {
          text-align: right;
          padding: 1em 0;
      }

      input,
      textarea,
      select,
      option {
          border: solid thin #888;
          box-sizing: border-box;
          font-size: 1em;
          padding: 0.5em;
          //
          //
          width: 100%;
      }

      label {
          padding: 0.5em 0;
      }

      input[type="submit"] {
          background-color: #bfb;
          border-radius: 0.354em;
          border: solid thin #888;
          color: black;
          font-size: 1.41em;
          font-weight: bold;
          padding: 0.354em 1em;
      }

      input[type="submit"]:hover {
          background-color: #9d9;
      }

      // Also, clean up the error styling
      #error_explanation {
          background-color: white;
          border-radius: 1em;
          border: solid thin red;
          margin-bottom: 0.5em;
          padding: 0.5em;
          width: 100%;

          h2 {
              background: none;
              color: red;
              font-size: 1.41em;
              line-height: 1.41em;
              padding: 1em;
          }

          ul {
              margin-top: 0;

              li {
                  color: red;
                  font-size: 1em;
              }
          }
      }

      .field_with_errors {
          background: none;
          color: red;
          width: 100%;

          label {
              font-weight: bold;
          }

          label::before {
              content: "! ";
          }

          input,
          textarea {
              background: pink;
          }
      }
  }

  //

  .forms {
      text-align: center;
  }

//form-admin
.administrator {
    padding-left: 25rem;
    padding-right: 25rem;
}