<br><br><br><br>


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">A Empresa:</h1>
        <hr>
        <p class="lead text-muted">
       <h6>Tradição e inovação</h6>

 

Em 10 anos de história, muitas foram as modas, mudanças de comportamento e diferentes tendências no design de sapatos.

 

Nós participamos de todas as inovações sem abrir mão da alta qualidade dos nossos produtos e serviços, diferenciais que nos permitiram criar uma história de tradição e inovação em calçados masculinos.  

 

Saiba um pouco mais sobre a nossa história, no que acreditamos e como trabalhamos para oferecer sempre o melhor calçado. 

 

Procuramos satisfazer nossos diferentes públicos no que acreditamos ser comum a todos nós: a busca por uma melhor qualidade de vida.

 

Esta busca, em equilíbrio, é a responsável pela nossa constante evolução.

 

Nosso trabalho sempre teve o objetivo de promover essa evolução, tanto para o nosso cliente, com produtos de alta qualidade, quanto para a nossa empresa, estabelecendo relações duradouras e tomando decisões tendo como ponto de partida as necessidades e desejos do indivíduo. 

 

Queremos cada vez mais compartilhar nosso conhecimento e contribuir para o desenvolvimento de todos, num crescimento em cadeia onde todos ganham. Por isso, acreditamos nas pessoas que trabalham conosco e incentivamos o seu desenvolvimento pessoal e profissional.

 
<br><br>
<h6>Nossa História:</h6>

 

Uma loja de conserto e venda de produtos para conservação de calçados. Assim começa nossa história, em 1965,no Largo do Café, centro de São Paulo.

 

Quando iniciamos nossas atividades, os sapatos ainda eram produzidos de forma artesanal, e sua manutenção era valorizada pelos usuários. 

 

Nossa proposta, além da qualidade do conserto, era a agilidade desse trabalho. Com o slogan “Solados em 35 minutos, saltos em 15 minutos”, escolhemos o nome Cometa para ilustrar a rapidez do conserto feito na hora.

 

O padrão de excelência do trabalho de nossos artesãos nos tornou conhecidos e permitiu a expansão dos negócios, explorando melhor a comercialização de produtos de marcas selecionadas.

 

Nossa Evolução:

 

Nestas mais de quatro décadas de história, foram muitas as oportunidades de expandir nosso negócio. Nos anos 90, acompanhando a tendência do comércio  em shoppings centers, inauguramos a loja do Shopping Iguatemi, a primeira a ter como atividade principal o desenvolvimento e comercialização de calçados com a nossa assinatura. A tradição do conserto, no entanto, continuou como um diferencial oferecido aos nossos clientes.

 
<br><br>
<h6>Qualidade:</h6>


 

Comercializamos calçados e acessórios de alta qualidade, oferecendo atendimento personalizado e qualificado, com profissionais treinados e bem-informados.

 

Nosso compromisso é o desenvolvimento contínuo da empresa e de nossos profissionais, acompanhando tendências de gestão, aperfeiçoando processos e serviços, com a preocupação de inovar sem perder a qualidade dos nossos produtos.

 

Buscamos, em primeiro lugar, a satisfação dos clientes e a construção de relacionamentos de longo prazo com nossos parceiros e fornecedores.
        </p>
      </div>
    </div>
  </section>